<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<th:block th:replace="~{layout/pricing_mypage :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h3 class="fw-bolder">마이페이지 > [[${memberDTO.getName()}]]회원님이 작성한 방명록</h3>
                    <p class="lead fw-normal text-muted mb-0"></p>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <!-- FAQ Accordion 1-->
                        <h2 class="fw-bolder mb-3"></h2>
                        <div class="accordion mb-5" id="accordionExample">
                            <th:block th:if="${#lists.isEmpty(gDtoList)}">
                                <br>
                                <img class="card-img-top" style="height:100px;width:auto;" src="/image/imoji/waiting.jpg" alt="" />
                                <b>아직 작성하신 방명록이 없습니다.^^</b>
                            </th:block>

                            <th:block th:if="${!#lists.isEmpty(gDtoList)}" th:each="gDto:${gDtoList}">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                     data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        제목 [[${gDto.title}]] |
                                        <span class="fst-italic">
                                            &nbsp;&nbsp;작성일자 [[${#temporals.format(gDto.createdDate, 'yyyy-MM-dd')}]]
                                        </span>
                                    </button>
                                </h3>
                                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong></strong>
                                        내용 [[${gDto.content}]]
                                        <code></code>
                                    </div>
                                </div>
                            </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </th:block>
</th:block><!-- content -->


<script th:inline="javascript">
$(document).ready(function(){




});
</script>
</html>