<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<th:block th:replace="~{layout/article_about_admin :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <article>

            <div class="container">
                <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
                    분양글 전체목록(관리자페이지)
                </div>

                <form th:action="@{/admin/tab/dogsell}" method="get">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="form-select" name="type">
                                        <option th:selected ="${pageRequestDTO.type == null}" value="" >---</option>
                                        <option th:selected ="${pageRequestDTO.type == 't'}" value="t">품종</option>
                                        <option th:selected ="${pageRequestDTO.type == 'c'}" value="c">분양완료(false/true)</option>
                                        <option th:selected ="${pageRequestDTO.type == 'w'}" value="w">작성자</option>
                                    </select>
                                </div>

                                <input type="text" class="form-control" name="keyword"
                                       th:value="${pageRequestDTO.keyword}">

                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-search searchBtn" type="submit">검색</button>
                                    <button type="reset" class="btn btn-outline-secondary" id="reset">초기화</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div><!-- 검색처리 -->


                    <th:block th:if="${responseDtoList} ==null and ${pageRequestDTO.type} !=null
                        and ${pageRequestDTO.keyword} !=null">
                        <br><br>
                        <img class="card-img-top" style="height:100px;width:auto;" src="/image/imoji/waiting.jpg" alt="" />
                        검색조건에 맞는 분양글이 없습니다.
                    </th:block>

                    <th:block th:if="${responseDtoList} ==null  and ${pageRequestDTO.type} ==null
                        and ${pageRequestDTO.keyword} ==null">
                        <br><br>
                        <img class="card-img-top" style="height:100px;width:auto;" src="/image/imoji/waiting.jpg" alt="" />
                        아직 등록된 분양글이 없습니다.
                    </th:block>

                <th:block th:each="dogSell:${responseDtoList}" th:if="${!#lists.isEmpty(responseDtoList)}">
                    <div style="height:800px;float:left;margin-right:20px;">
                        <p class="fw-bold fs-5">[[${#temporals.format(dogSell.createdDate, 'yyyy-MM-dd')}]] 분양글</p>
                        <div class="card" style="width:18rem;">
                            <div style="text-align:center;">
                                <img style="height:150px;width:auto;"
                                    th:src="|/dogselldisplay?fileName=${dogSell.dsiDtoList[0].getImageURL()}|"
                                    class="card-img-top"/>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="fw-bolder">분양결과</span>&nbsp;
                                    <th:block th:if="${dogSell.complete== true}">
                                        분양완료
                                    </th:block>
                                    <th:block th:unless="${dogSell.complete== true}">
                                        분양중
                                    </th:block>
                                </li>
                                <li class="list-group-item"><span class="fw-bolder">특징</span>&nbsp;
                                    <span style="display:block; overflow:hidden; text-overflow:ellipsis; width:250px; height:100px;">
                                        <button type="button" th:data-dno="${dogSell.dno}" th:data-content="${dogSell.content}" class="btn btn-outline-success btn-sm contentAll">전체보기</button> [[${dogSell.content}]]
                                    </span>
                                </li>
                                <li class="list-group-item"><sapn class="fw-bolder">분양번호</sapn>&nbsp;[[${dogSell.dno}]]</li>
                                <li class="list-group-item"><sapn class="fw-bolder">작성자</sapn>&nbsp;[[${dogSell.membername}]]</li>
                                <li class="list-group-item"><sapn class="fw-bolder">나이</sapn>&nbsp;[[${dogSell.age}]]세</li>
                                <li class="list-group-item"><sapn class="fw-bolder">무게</sapn>&nbsp;[[${dogSell.weight}]]kg</li>
                                <li class="list-group-item"><sapn class="fw-bolder">품종</sapn>&nbsp;[[${dogSell.type}]]</li>
                                <li class="list-group-item"><sapn class="fw-bolder">암수</sapn>&nbsp;[[${dogSell.gender}]]</li>
                                <li class="list-group-item"><sapn class="fw-bolder">건강상태</sapn>&nbsp;[[${dogSell.health}]]</li>
                                <li class="list-group-item"><sapn class="fw-bolder">작성시간</sapn>&nbsp;[[${#temporals.format(dogSell.createdDate, 'yyyy-MM-dd HH:mm:ss')}]]</li>
                                <li class="list-group-item"><sapn class="fw-bolder">수정시간</sapn>&nbsp;[[${#temporals.format(dogSell.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}]]</li>
                                <li class="list-group-item"><sapn class="fw-bolder">희망가격</sapn>&nbsp;[[${dogSell.price}]]만원</li>
                            </ul>
                        </div>
                    </div>
                </th:block>

                    <th:block th:if="${responseDtoList} != null">
                    <div class="mb-3" style="clear:left">
                        <br><br>
                        <nav  aria-label="Page navigation example">
                            <div>
                                <ul class="pagination">
                                    <li class="page-item pagination_button " th:if="${responseDto.prev}">
                                        <a  class="page-link" aria-label="Previous" th:data-num="${responseDto.start-1}"><span aria-hidden="true">&laquo;</span></a>
                                    </li>

                                    <th:block th:each="i:${#numbers.sequence(responseDto.start, responseDto.end)}" th:if="${responseDto.page}">
                                        <li class="page-item pagination_button " th:classappend="${responseDto.page == i } ? active : ''" >
                                            <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                        </li>
                                    </th:block>
                                    <li class="page-item pagination_button " th:if="${responseDto.next}">
                                        <a  class="page-link" aria-label="Next" th:data-num="${responseDto.end+1}"><span aria-hidden="true">&raquo;</span></a>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </th:block>
                </form>
            </div><!-- 컨테이너 -->
        </article>


        <!-- 특징내용 전체보여주기 모달창 -->
        <div class="modal contentAllModalDiv" tabindex="-1"  >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title contentAllModalDivHeader"></h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3" >
                            <p class="contentAllModalDivBody">
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-warning btn-sm contentAllModalDivBtn" >닫기</button>
                    </div>
                </div>
            </div>
        </div><!-- 특징내용 전체보여주기 모달창 -->

    </th:block>
</th:block>
<script th:inline="javascript">


    //검색+페이지이동
    $("a.page-link").on("click", function(e){
        //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색+페이지이동 처리 클릭이벤트 진입");
        e.preventDefault();
        var page = $(this).data("num");

        $("form").append(`<input type='hidden' name='page' value=${page}>`);
        $("form").submit();
    });//검색+페이지이동


    $("#reset").on("click", function(e){
        e.preventDefault();
        //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색+페이지이동 reset버튼클릭 이벤트 진입");
        $("form").empty();
        $("form").submit();
    });

    //검색버튼클릭시
    $(".searchBtn").on("click", function(e){
        e.preventDefault();
        //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입");
        var selectvalue = $("select[name=type]").val();
        //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 먼저 select값 확인 -> "+selectvalue);

        var selectkeyword = $("input[name=keyword]").val();
        //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 먼저 keyword값 확인 -> "+selectkeyword);

        if(selectvalue =="" || selectkeyword == ""){
            //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 select값이 없거나 검색키워드입력하지 않은경우");
            alert("검색조건을 선택하시고 검색어를 입력해주세요");
            return;
        }

        if(selectvalue !="" && selectkeyword != ""){
            //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 select값이 존재하고 검색키워드입력한 경우");
            $("form").submit();
        }

    });

    $(".searchBtn").on("keyup",function(key){
        if(key.keyCode==13){
            //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입");
            var selectvalue = $("select[name=type]").val();
            //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 먼저 select값 확인 -> "+selectvalue);

            var selectkeyword = $("input[name=keyword]").val();
            //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 먼저 keyword값 확인 -> "+selectkeyword);

            if(selectvalue =="" || selectkeyword == ""){
                //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 select값이 없거나 검색키워드입력하지 않은경우");
                alert("검색조건을 선택하시고 검색어를 입력해주세요");
                return;
            }

            if(selectvalue !="" && selectkeyword != ""){
                //-console.log("관리자 목록페이지 admin_tab_dogsell.html 검색버튼 클릭이벤트 진입 select값이 존재하고 검색키워드입력한 경우");
                $("form").submit();
            }
        }
    });








//관리자페이지 분양글에서 특징글 전체 보이게 모달창으로 보이게할때
$(".contentAll").on("click", function(){
//contentAllModalDiv contentAllModalDivHeader contentAllModalDivBody contentAllModalDivBtn
    //-console.log("관리자 목록페이지 admin_tab_dogsell.html 강아지분양글전체 중 특징내용 모달창으로 보여주기 클릭이벤트 진입");

    var dnoVal =$(this).data("dno");
    var contentVal =$(this).data("content");

    $(".contentAllModalDivHeader").html(dnoVal+"번 분양강아지 특징");
    $(".contentAllModalDivBody").html(contentVal)
    $(".contentAllModalDiv").show();
});//끝 on()클릭이벤트진입

//특징모달창 닫기이벤트진입
$(".contentAllModalDivBtn").on("click",function(){
    //-console.log("관리자 목록페이지 admin_tab_dogsell.html 강아지분양글전체 중 특징내용 모달창 닫기 클릭이벤트 진입");
    $(".contentAllModalDiv").hide();
});//끝 on() 모달창닫기이벤트

</script>

</html>