<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<th:block th:replace="~{layout/article_about :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <article>
            <!-- Post header-->
            <!--            <header class="mb-4">
                            &lt;!&ndash; Post title&ndash;&gt;
                            <h1 class="fw-bolder mb-1">영화리뷰 Movie Review Page</h1>
                        </header>-->
            <div class="container">
                <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
                    게시글 목록
                </div>


                <th:block th:if="${loginMember ==null}">
                    <a class="btn btn-outline-primary" th:href="|@{/member/login}?${pageRequestDto.getLink()}|">로그인</a>
                    <a class="btn btn-outline-primary" th:href="|@{/member/join}?${pageRequestDto.getLink()}|">회원가입</a>
                </th:block>

                <th:block th:if="${loginMember !=null}">
                    <b>[[${loginMember}]]</b>님 반갑습니다^^ &nbsp;
                    <a class="btn btn-outline-success" th:href="|@{/post/save}?${pageRequestDto.getLink()}|">게시글등록</a>
                    <a class="btn btn-outline-success" th:href="@{/member/logout}">로그아웃</a>
                </th:block>

                    <!--<form th:action="@{/?{link}(link=${pageRequestDto.getLink()})}">-->
                <form th:action="@{/post/list}" th:method="get">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="form-select" name="type">
                                        <option th:selected ="${pageRequestDto.type == null}" value="" >---</option>
                                        <option th:selected ="${pageRequestDto.type == 't'}" value="t">제목</option>
                                        <option th:selected ="${pageRequestDto.type == 'c'}" value="c">내용</option>
                                        <option th:selected ="${pageRequestDto.type == 'w'}" value="w">작성자</option>
                                        <option th:selected ="${pageRequestDto.type == 'tc'}" value="tc">제목&내용</option>
                                        <option th:selected ="${pageRequestDto.type == 'tcw'}" value="tcw">제목&내용&작성자</option>
                                    </select>
                                </div>

                                <input type="text" class="form-control" name="keyword" th:value="${pageRequestDto.keyword}">

                                <div class="input-group-append"><!-- btn-search tn-clear-->
                                    <button class="btn btn-outline-secondary postsearch" type="button">검색</button>
                                    <button type="button" class="btn btn-outline-secondary" id="reset">초기화</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- 검색처리 -->


                    <br>
                    <th:block th:if="${#lists.isEmpty(responseDto.dtoList)} and ${pageRequestDto.type} ==null and
                        ${pageRequestDto.keyword} ==null">
                        <img class="card-img-top" style="height:100px;width:auto;" src="/image/imoji/waiting.jpg" alt="" />
                        아직 등록된 게시물이 없습니다. 먼저 등록해주세요^^
                    </th:block>


                    <th:block th:if="${#lists.isEmpty(responseDto.dtoList)} and ${pageRequestDto.type} !=null and
                        ${pageRequestDto.keyword} !=null">
                        <div style="text-align:center;">
                            <b>게시물의 검색 결과가 없습니다. </b> &nbsp;&nbsp;
                        </div>
                    </th:block>
                    <br>
<!--
                    <th:block th:if="${responseDto.dtoList !=null || responseDto.dtoList.size() != 0}">
-->

                    <th:block th:if="${!#lists.isEmpty(responseDto.dtoList)}">

                        <table class="table table-hover">
                                <tr>
                                <th scope="col" width="100px">번호</th>
                                <th scope="col" width="300px">제목</th>
                                <th scope="col" width="200px">작성자</th>
                                <th scope="col" width="200px">작성일자</th>
                                <th scope="col" width="200px">수정일자</th>
                            </tr>


                            <tr th:each="dto:${responseDto.dtoList}">
                                <td id="id">[[${dto.id}]]</td>
                                <th:block th:if="${dto.id==replyCnt.key}" th:each="replyCnt:${replyCntMap}">
                                <td><a th:href="|@{/post/update(id=${dto.id})}&${pageRequestDto.getLink()}|">
                                    [[${dto.title}]]
                                </a> [<th:block th:text="${replyCnt.value}"></th:block>]</td>
                                </th:block>
                                <td>[[${dto.author}]]</td>
                                <td>[[${#temporals.format(dto.createdDate,'yyyy-MM-dd')}]]</td>
                                <td>[[${#temporals.format(dto.modifiedDate,'yyyy-MM-dd')}]]</td>
                            </tr>

                        </table>

                        <nav  aria-label="Page navigation example">
                            <div>
                                <ul class="pagination">
                                    <li class="page-item pagination_button" th:if="${responseDto.prev}">
                                        <a  class="page-link" aria-label="Previous" th:data-num="${responseDto.start-1}" >이전</a>
                                    </li>

                                    <th:block th:each="i:${#numbers.sequence(responseDto.start, responseDto.end)}" th:if="${responseDto.page}">
                                        <li class="page-item  pagination_button" th:classappend="${responseDto.page == i } ? active : ''" >
                                            <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                        </li>
                                    </th:block>

                                    <li class="page-item  pagination_button" th:if="${responseDto.next}">
                                        <a  class="page-link" aria-label="Next" th:data-num="${responseDto.end+1}"  >다음</a>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                        </th:block>
                </form>
            </div>
        </article>



<script th:inline="javascript">

var link =[[${pageRequestDto.getLink()}]];

var listForm = $("form");

var loginMember =[[${loginMember}]];
//-console.log("post-list.html 현재로그인한 회원-> "+ loginMember);


$(document).ready(function(){
    var id=$("#id").html();

    //검색+페이지이동
    $("a.page-link").on("click", function(e){
        //-console.log("post-list.html 검색+페이지이동 처리 클릭이벤트 진입");
        e.preventDefault();
        var page = $(this).data("num");

        listForm.append(`<input type='hidden' name='page' value=${page}>`);
        //console.log(listForm);

        listForm.submit();
    });//검색+페이지이동


    $("#reset").on("click", function(e){
        e.preventDefault();
        //-console.log("post-list.html 검색+페이지이동 처리 클릭이벤트 진입");
        listForm.empty();
        location.replace(`/post/list`);
        //location.reload();
    });

    //게시판 검색버튼 클릭시
      $(".postsearch").on("click", function(e){
        e.preventDefault();
        //-console.log("post-list.html 게시판페이지 검색버튼 클릭이벤트 진입");
        var selectvalue = $("select[name=type]").val();
        //-console.log("post-list.html 게시판페이지 검색버튼 클릭이벤트 진입 먼저 select값 확인 -> "+selectvalue);

        var selectkeyword = $("input[name=keyword]").val();
        //-console.log("post-list.html 게시판페이지 검색버튼 클릭이벤트 진입 먼저 keyword값 확인 -> "+selectkeyword);

        if(selectvalue =="" || selectkeyword == ""){
            //-console.log("post-list.html 게시판페이지 검색버튼 클릭이벤트 진입 select값이 없거나 검색키워드입력하지 않은경우");
            alert("검색조건을 선택하시고 검색어를 입력해주세요");
            return;
        }

        if(selectvalue !="" && selectkeyword != ""){
            //-console.log("post-list.html 게시판페이지 검색버튼 클릭이벤트 진입 select값이 존재하고 검색키워드입력한 경우");
            $("form").submit();
        }

       });

});
</script>
    </th:block>
</th:block>

</html>